<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStrings" connectionString="Data Source=DESKTOP-Q5A0V2V\SQLEXPRESS;Initial Catalog=Emlak_Takip_DB;Persist Security Info=True;User ID=sa;Password=1234;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ConnectionStrings" value="Data Source=DESKTOP-Q5A0V2V\SQLEXPRESS;Initial Catalog=Emlak_Takip_DB;Persist Security Info=True;User ID=sa;Password=1234;MultipleActiveResultSets=True"/>
    <add key="Setting2" value="May 6, 2014"/>
  </appSettings>
</configuration>